
  <div class="header-block">
      
    <img class="smile bike" src="../../assets/Resources/bike.png"  />   <h3>Available bicycles ({{service.list ? service.list.length : ''}})</h3>

</div>


<table class="bikeList table table-hover" >
<tr class="row row-rent r" *ngFor="let pd of service.list; let i = index">
  <div class="column" >
 
    <p (click)="populateForm(pd)">{{pd.Name}}</p><p>/</p>
    <p (click)="populateForm(pd)">{{pd.Price}}</p><p>/</p>
    <p (click)="populateForm(pd)">{{pd.Type}}</p>
  </div>
    <div class="column smaller_column">
      
      <button class="btn cancel" (click)="onDelete(pd.Id)">Delete</button>
      <button class="btn rent" (click)="onDelete(pd.Id)">Rent</button>
    </div>
 

</tr>

</table>
