<div class="jumbtron">
  
  
  <h1 class="header">Awesome Bike Rental</h1>
  <app-bicycle-detail></app-bicycle-detail>

  
  <div class="header-block">
  
      <img class="smile smile-star" src="../../assets/Resources/icons8-star-struck-96.png" />   <h3>Your rent (Total: )</h3>
  </div>
  <div class="row row-rent">
      <div class="column">
          <p>Name</p> <p>/</p>
          <p>Bike type</p><p>/</p>
          <p>Rent price</p>
      </div>
      
      <div class="column smaller_column">
          <button class="btn cancel">Cancel rent</button>
      </div>
  </div>
  
  
  
    <app-bicycle-detail-list></app-bicycle-detail-list>
   
    <!-- <app-sidebar></app-sidebar> -->
   
  </div>